@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;


}

body {

  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #333333;
  background: #f2f2f2;

}


.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  width: 410px;
  margin: 0;
  padding: 0;
  margin-left: 30px;
}

.navigation-user {
  max-width: 132px;
  margin-left: auto;
}

.main-header {
  background-color: #FFFFFF;
  color: #000000;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.navigation-link,
.navigation-user-link {
  color: #000000;
  background-color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;

}

.likes-count {
  color: #FFFFFF;
  background-color: #7DB54F;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;

}

.header-button {
  color: #FFFFFF;
  background: rgba(117, 97, 87, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  width: 160px;
  margin: 0;
  margin-right: 70px;
  margin-left: 20px;
  max-height: 36px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero-text {
  display: block;
  margin: 0 auto;
}

.hero {
  min-height: 485px;
  background-color: #82b3d3;
  background-image: url(../images/welcome-2.svg), url(../images/main-background.jpg);
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;

}

.advantages-title {
  width: 620px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-right: auto;
  margin-left: auto;

}



.advantages-item:first-child,
.advantages-item:nth-child(5) {
  background-color: #82B3D3;
  color: #FFFFFF;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.title-advantages {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-left: auto;
  margin-right: auto;

}

.advantages-description-about {
  width: 651px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-item:nth-child(3) {
  background: rgba(131, 179, 211, 0.2);

}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  font-size: 18px;
  line-height: 21px;
  width: 400px;
}




.advantages-description {
  font-weight: 400;
  text-align: center;

}

.index-columns {
  display: flex;
  width: 1200px;
}



.infrastructure-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}


.infrastructure-item:nth-child(odd) {
  background-color: #83B3D31F;

}

.subtitle-infrastructure {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.text-infrastructure {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.infrastructure-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.infrastructure-description {
  font-weight: 400;
  text-align: center;
}


.title-search {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 96px;
  color: #000;
}

.text-search {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.button-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756157;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 54px;
  display: block;
  width: 376px;
  font-family: inherit;
}

.subscription {
  margin: 0 auto;
  width: 1200px;
  background-color: #82b3d3;
  color: #FFFFFF;
  background-image: url(../images/background-2.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscription-title {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscription-text {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;

}

.button-subscribe {
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  border: none;
  font-family: inherit;
}

.e-mail {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
  display: block;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0;

}

.footer-solial {
  width: 142px;
  margin-left: 70px;

}


.footer-contact-phone {
  width: 331px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  margin-left: 195px;
}


.copyright {
  width: 115px;
  margin-left: auto;
}

.filter {
  color: #FFFFFF;
  background-color: #82b3d3;
  background-image: url(../images/background-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 }

.filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-left: 70px;
}

.bread-crumbs-link {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  margin-left: 70px;
 }

 .filter-form {
  display: flex;
  margin: 0 70px;
}

.filter-form-fielsed {
  margin: 0;
  padding: 0;
  border: none;

}

.catalog-filter-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 150px;
  margin-left: 70px;

}

.catalog-filter-list-house {
width: 150px;
margin-right: 140px;
}

.filter-label,
.filter-radio {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.filter-form-controle {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
}

.catalog-filter-list-price {
width: 288px;
margin-right: 70px;
}


.price {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}


.button-select {
  color: #FFFFFF;
  background-color: rgba(130, 179, 211, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-family: inherit;
  width: 191px;
}

.button-remove {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
  background-color: transparent;
  border: none;
  width: 191px;
}

.find-hotel {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  margin: 0;
  margin-top: 56px;
  color: #000;
}

.select-control {
  color: #333333;
  font-weight: 400;
  font-family: inherit;

}

.catalog-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #000000;
  text-decoration: none;
  margin: 0;
  margin-top: 6px;
}

.catalog-item-card {

  text-align: left;
  margin: 0;
  margin-top: 16px;
}

.catalog-item-price {

  text-align: right;
  margin: 0;
  margin-top: 16px;
}

.catalog-item-link-button {
  color: #FFFFFF;
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  margin-top: 16px;
  font-family: inherit;
}

.button-like {
  color: #FFFFFF;
  background-color: #82B3D3;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  margin: 0;
  margin-top: 16px;
  font-family: inherit;
}

.button-like-active {
  background-color: #7DB54F;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  margin: 0;
  margin-top: 16px;
  font-family: inherit;
}

.catalog-item-rating {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 16px;

}



.pagination-link {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background: rgba(130, 179, 211, 1);
  text-decoration: none;
  font-weight: 700;
}


.pagination-current {
  color: #000;
  background-color: #F2F2F2;

}

.subscription-title-catalog {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscription-text-catalog {
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;

}
