@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-weight: 400;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #333333;
  background: #f2f2f2;
  min-width: 1280px;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:hover {
  color: rgba(255, 255, 255, 1);
}

.button:focus {
  color: rgba(255, 255, 255, 1);
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 #00000033;
}

.main-header {
  display: flex;
  width: 1060px;
  margin: 0 70px;


}

.navigation-logo {
  /* margin-right: 28px; */
  display: block;
  width: 140px;
}

.page-header-logo {
  display: block;
  margin-bottom: -6px;
  position: relative;

}

.navigation {
  display: flex;
  margin: 0 auto;
  width: 962px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  /* margin: 20px 16px; */
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 20px;
  list-style-type: none;
  min-height: 64px;
  /* width: 339px; */
}

/* .navigation-link-current {

  border-bottom: 2px solid #756257
} */
.navigation-link-current {
  position: relative;

  /* border-bottom: 2px solid #756257 */
}

.navigation-link-current::after {
  bottom: -3px;
  position: absolute;
  content: "";
  height: 2px;
  /* width: 100%; */
  background-color: #756257;
  left: 16px;
  right: 16px;
}


.navigation-user {
  max-width: 132px;
  margin-left: auto;
}

.navigation-user-link {
  display: block;
  /* margin: 22px 12px; */
  /* min-height: 20px;
  min-width: 20px; */
  padding: 22px 12px;
}

.navigation-user-link-search::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(/images/search.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
}

.navigation-user-link-favorite {
  position: relative;
}

.navigation-user-link-favorite::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(/images/heart.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
}

.navigation-link,
.navigation-user-link {
  color: #000000;
  background-color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  /* padding: 20px 16px; */

}

.likes-count {
  color: #FFFFFF;
  background-color: #7DB54F;
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  border-radius: 10px;
  padding: 5px;
  right: 6px;
  top: 9px;

}

.header-button {
  color: #FFFFFF;
  background: rgba(117, 97, 87, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  margin: 14px 0;
  max-height: 36px;
  /* width: 160px; */
  border-radius: 4px;
  padding: 8px 34px;
  text-wrap: nowrap;
}

.header-button:active {
  background: rgba(117, 97, 87, 1);

}

.header-button:hover {
  background: rgba(97, 80, 72, 1);

}

.header-button:focus {
  background: rgba(97, 80, 72, 1);

}

.main-container {
  flex-grow: 1;
  width: 1200px;
}



.hero-text {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.hero {
  min-height: 485px;
  background-color: #82b3d3;
  background-image: url(../images/welcome-2.svg), url(../images/main-background.jpg);
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;


}

.main-advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 69px auto;
  align-items: center;
  margin-bottom: 91px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  /* margin-top: 21px; */
}

.advantages-title {
  width: 620px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0;
}

.advantages-item-desc {
  padding: 0;
  margin: 0;
}

.advantages-item-photo {
  width: 800px;
  min-height: 385px;

}

.advantages-desc-about {
  margin: 0;
  margin-top: 25px;
  font-size: 22px;
  line-height: 26px;
}

.advantages-item-text {
  padding: 112px 85px;
  text-align: center;

}


.advantages-item-title {
  position: relative;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 62px;
  width: 175px;
}

.advantages-item-title::before {
  position: absolute;
  display: block;
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  content: "";
  left: 55px;
  top: 86px;
}

.advantages-item-title-light::before {
  background: rgba(255, 255, 255, 0.3);
}

.advantages-item-text-light {
  background-color: #82B3D3;
  color: #FFFFFF;
  margin: 0;
  padding: 102px 85px;
}

.advantages-item-title-light {
  color: #FFFFFF;

}

.advantages-item:nth-child(3) {
  background: rgba(131, 179, 211, 0.2);

}

.advantages-item {
  display: flex;
  background-color: rgba(131, 179, 211, 0.12);
  list-style-type: none;
  width: 400px;
  margin: 0;
  min-height: 385px;
}

.advantages-item-baner {
  width: 100%;
}

.main-infrastructure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 64px auto;
  align-items: center;
}

.infrastructure-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  width: 505px;
  margin: 0 auto;
}

.infrastructure-desc {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  /* width: 490px; */
  margin: 0 auto;
  margin-top: 20px;
}

.infrastructure-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;

}



.infrastructure-item:nth-child(odd) {
  background-color: #83B3D31F;

}

.infrastructure-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  margin: 0;
  margin-top: 28px;
}

.infrastructure-item-desc {
  margin: 0;
  text-align: center;
  margin-top: 30px;
}

.infrastructure-item-text {
  text-align: center;
  width: 230px;
}

.infrastructure-item-text::before {
  display: block;
  content: "";
  width: 75px;
  height: 76px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.infrastructure-item-text-home::before {
  background-image: url(/images/infrastructure-home.svg);
}

.infrastructure-item-text-food::before {
  background-image: url(/images/infrastructure-food.svg);
}

.infrastructure-item-text-souvenir::before {
  background-image: url(/images/infrastructure-souvenir.svg);
}

.infrastructure-item {
  display: flex;
  list-style-type: none;
  width: 400px;
  margin: 0;
  /* min-height: 385px;
  justify-content: center; */
  flex-direction: column;
  align-items: center;
  padding: 81px 85px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 96px auto;
  align-items: center;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  color: #000;
  width: 297px;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 592px;
  margin: 0;
  margin-top: 20px;

}

.search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756157;
  text-decoration: none;
  margin: 0 auto;
  display: block;
  font-family: inherit;
  margin-top: 54px;
  border-radius: 4px;
  padding: 8px 50px;
}

.search-button:active {
  background: rgba(117, 97, 87, 1);

}

.search-button:hover {
  background: rgba(97, 80, 72, 1);

}

.search-button:focus {
  background: rgba(97, 80, 72, 1);

}

.subscription {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 0;
  width: 1200px;
  background-color: #82b3d3;
  color: #FFFFFF;
  background-image: url(../images/background-2.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  max-height: 415px;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscription-title {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  /* margin-top: 96px; */
  width: 404px;
}


.subscription-text {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  width: 475px;
  margin-top: 20px;
}

.button-subscription {
  /* width: 232px; */
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  border: none;
  font-family: inherit;
  border: none;
  /* margin-top: 54px ;
  margin-bottom: 104px; */
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.button-subscription:active {
  background: rgba(130, 179, 211, 1);
}

.button-subscription:hover {
  background: rgba(104, 162, 202, 1);
}

.button-subscription:focus {
  background: rgba(104, 162, 202, 1);
}

.e-mail {
  width: 452px;
  line-height: 24px;
  text-align: left;
  color: #000000;
  border: none;
  padding: 14px 0 14px 20px;
  border-radius: 4px 0 0 4px;
}

.e-mail::placeholder {
  width: 87px;
  height: 24px;

  opacity: 0.6px;

}

.subscription-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
  align-items: center;
  margin-top: 32px;
}


.page-footer-container {
  display: flex;
  width: 1060px;
  margin: 40px 70px 30px;

}

.social-footer-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  /* width: 142px; */
  list-style-type: none;
}

.social:active {
  opacity: 0.30;
}

.social:hover {
  fill: #68A2CA;
}

.social:focus {
  fill: #68A2CA;
}

.social-footer-item {
  /* width: 48px;
height: 40px; */
  padding: 12px 13px;
}

.footer-contact-phone {
  width: 331px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  margin: 5px 195px;
}

.footer-contact-phone:active {
  opacity: 0.30;
}

.footer-contact-phone:hover {
  color: #756157;
}

.footer-contact-phone:focus {
  color: #756157;
}

.copyright-logo {

  max-width: 115px;
  margin-left: auto;
}

.copyright-logotype:active {
  opacity: 0.30;
}

.copyright-logotype:hover path {
  fill: #756157;
}

.copyright-logotype:focus path {
  fill: #756157;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);

}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background: rgba(255, 255, 255, 1);
  border-radius: 30px;
}

/* .modal-container-clouse {
  display: none;
} */

.modal-search {
  width: 717px;
}

.modal-clouse-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background: rgba(242, 242, 242, 1);
  border-radius: 50%;
  border: none;
  background-image: url(/images/clouse.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: PT Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);

}

.field-group {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 48px;
}

.field-list {
  display: flex;
  /* list-style-type: none; */
}

.field-item {
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
}
.check {
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  width: 137px;

}
.field {
  width: 440px;

}

.filter {
  padding: 35px 70px 73px;
  color: #FFFFFF;
  background-color: #82b3d3;
  background-image: url(../images/background-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
  /* margin: 0 70px; */

}

.bread-crumbs-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  margin-bottom: 40px;
}

.bread-crumbs-item {
  display: block;
  position: relative;
}


.bread-crumbs-item::after {
  display: block;
  content: "";
  background-image: url(/images/arrow.svg);
  background-repeat: no-repeat;
  width: 7px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 7px;

}

.bread-crumbs-item:not(:first-child) {
  margin-left: 10px;
}

.bread-crumbs-item:not(:last-child) {
  padding-right: 18px;
}

.bread-crumbs-item:last-child::after {
  display: none;
}

.bread-crumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.bread-crumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.bread-crumbs-link:focus {
  color: rgba(255, 255, 255, 1);
}

.bread-crumbs-link-main {
  display: block;
  background-image: url(/images/breadcrumbs-main.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  margin: 0 auto;
  background-position: bottom;
}

.bread-crumbs-link {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  padding: 3px 3px 3px 0;
  /* margin-left: 70px; */
}

.filter-form {
  display: flex;
  /* margin: 0 70px; */
}

.filter-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  list-style: none;
  padding: 0;
}

.filter-form-fielsed {
  margin: 0;
  padding: 0;
  border: none;

}

.control {
  position: relative;
  display: block;
  padding-left: 36px;

}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  left: 2px;
  top: 1px;

}

.control-mark-radio {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  left: 2px;
  top: 1px;
}


.control-label:hover {
  color: rgba(255, 255, 255, 60%);
}

.control-mark:hover,
.control-mark-radio:hover {
  background-color: rgba(255, 255, 255, 60%);

}

.control-label:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url(/images/input-a.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.filter-radio[type="radio"]:checked + .control-mark-radio {
  background-image: url(/images/input-radio.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.range-wrappers-inputs {
  display: flex;
  justify-content: space-between;
}

.range-scale {
  position: relative;
  width: 287px;
  background-color: rgba(255, 255, 255, 30%);
  height: 4px;
  margin-top: 60px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:focus {
  border: 3px solid rgba(131, 179, 211, 1)
}

.range-toggle:active {
  border: 2px solid rgba(131, 179, 211, 1)
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);

}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -5px;
}

.catalog-filter-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* width: 150px; */
  /* margin-left: 70px; */
  margin-bottom: 32px;


}

.catalog-wrapper {
  width: 1060px;
  margin: 0 auto;
}

.catalog-filter-list-house {
  margin-left: 70px;
  margin-right: 140px;

}

.control-label {
  line-height: 23px;
}

.filter-form-controle {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  width: 143px;
  display: block;
  position: relative;
  /* margin-right: 2px; */
}

.price-text {
  position: absolute;
  color: rgba(0, 0, 0, .1);
  right: 12px;
  top: 12px;
}

/*
.filter-form-fielsed-list-price {
  display: flex;
} */

.catalog-filter-list-price {
  /* width: 288px;
margin-right: 70px; */
}


.price {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  width: 122px;
  border: none;
  padding: 0;
  height: 48px;
  padding-left: 20px;
}

.price-min {
  border-radius: 4px 0 0 4px;
}

.price-max {
  border-radius: 0 4px 4px 0;
}

.bloc-button {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: 70px;
}

.select-button-type {
  color: #FFFFFF;
  background-color: rgba(130, 179, 211, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-family: inherit;
  /* width: 191px; */
  padding: 8px 50px;
  border-radius: 4px;
  cursor: pointer;
}

.select-button-type:active {
  background: rgba(130, 179, 211, 1);

}

.select-button-type:hover {
  background: rgba(104, 162, 202, 1);

}

.select-button-type:focus {
  background: rgba(104, 162, 202, 1);

}

.remove-button-type {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
  background-color: transparent;
  padding: 8px 50px;
  margin-top: 32px;
  cursor: pointer;
  border: 3px solid transparent;
}

.remove-button-type:active {
  color: rgba(255, 255, 255, 0.3);

}

.remove-button-type:hover {
  color: rgba(255, 255, 255, 1);

}

.remove-button-type:focus {
  border: 3px solid rgba(131, 179, 211, 1);
}

.catalog {
  display: flex;
  /* margin: 50px 70px; */
  justify-content: space-between;
  margin-bottom: 50px;
  /* width: 830px; */
  /* min-height: 49px; */
}

.catalog-left-block {
  display: flex;
  align-items: center;
}

.find-hotel {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  margin: 0;
  /* margin-top: 6px; */
  color: #000;
  margin-right: 200px;
}

.select-control {
  color: #333333;
  font-weight: 400;
  font-family: inherit;
  width: 292px;
  padding: 14px 20px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;

}

.select-control:hover {
  border: 2px solid rgba(104, 162, 202, 1);
}

.select-control:focus {
  border: 2px solid rgba(104, 162, 202, 1);
}

.catalog-view-list {
  display: flex;
  padding: 0;
  justify-content: space-between;
  list-style: none;

}

.catalog-view-item {
  padding: 16px 16px;
  margin-right: 8px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.catalog-view-item:active {
  border: 2px solid rgba(0, 0, 0, 1);
}

.catalog-view-item:hover {
  border: 2px solid rgba(0, 0, 0, 1);
}

.catalog-view-item:focus {
  border: 2px solid rgba(104, 162, 202, 1);
}

.catalog-view-item-current {
  border: 2px solid #000000;
}

.catalog-view-icon::before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
}

.catalog-view-cards-selected::before {
  background-image: url(/images/list-view.svg);
}

.catalog-view-slider::before {
  background-image: url(/images/list-slider.svg);
}

.catalog-view-list::before {
  background-image: url(/images/list-list.svg);
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style: none;

}


.catalog-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #000000;
  text-decoration: none;
  margin: 0;
  margin-top: 6px;
}

.catalog-item {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  padding: 20px 20px;
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 4px;
  align-items: center;
}

.catalog-item-link {
  grid-column: 1/-1;
}

.catalog-item-card {

  text-align: left;
  margin: 0;
  /* margin-top: 16px; */
}

.catalog-item-type {
  margin: 0;
}

.catalog-item-price {

  text-align: right;
  margin: 0;
  /* margin-top: 16px; */
}

.catalog-item-link-button {
  color: #FFFFFF;
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  /* margin-top: 16px; */
  font-family: inherit;
  padding: 8px 26px;
  border-radius: 4px;
  cursor: pointer;
}

.catalog-item-link-button:active {
  background: rgba(117, 97, 87, 1);

}

.catalog-item-link-button:hover {
  background: rgba(97, 80, 72, 1);

}

.catalog-item-link-button:focus {
  background: rgba(97, 80, 72, 1);

}

.catalog-item-favorites {
  color: #FFFFFF;
  background-color: #82B3D3;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  margin: 0;
  /* margin-top: 16px; */
  font-family: inherit;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.catalog-item-favorites:active {
  background: rgba(130, 179, 211, 1);


}

.catalog-item-favorites:hover {
  background: rgba(104, 162, 202, 1);


}

.catalog-item-favorites:focus {
  background: rgba(104, 162, 202, 1);

}

.catalog-item-favorites-active {
  background-color: #7DB54F;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px;
}

.catalog-item-favorites-active:active {
  background: rgba(125, 181, 79, 1);

}

.catalog-item-favorites-active:hover {
  background: rgba(108, 158, 66, 1);

}

.catalog-item-favorites-active:focus {
  background: rgba(108, 158, 66, 1);

}

.catalog-item-rating {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  background: rgba(242, 242, 242, 1);
  padding: 9px 22px;
  border-radius: 4px;
}

.catalog-item-star-rating::before {
  display: block;
  content: "";
  background-image: url(/images/stars.svg);
  height: 17px;
  background-repeat: space no-repeat;
  background-size: contain;

}

.catalog-item-star-rating-4::before {
  width: 90px;
}

.catalog-item-star-rating-3::before {
  width: 66px;
}

.catalog-item-star-rating-2::before {
  width: 42px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 40px 0;
  list-style: none;
  gap: 8px;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background: rgba(130, 179, 211, 1);
  text-decoration: none;
  font-weight: 700;
  display: block;
  min-width: 60px;
  /* height: 60px; */
  box-sizing: border-box;
  padding: 12px 12px;
  border-radius: 4px;
}

.pagination-link:active {
  background: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);


}

.pagination-link:hover {
  background: rgba(104, 162, 202, 1);
  color: rgba(255, 255, 255, 1);

}

.pagination-link:focus {
  background: rgba(104, 162, 202, 1);
  color: rgba(255, 255, 255, 1);

}

.pagination-ellepsis {
  margin-right: 8px;
}

.pagination-current,
.pagination-ellepsis {
  color: #000;
  background-color: #F2F2F2;
}

.pagination-current,
.pagination-ellepsis:active {
  background: rgba(242, 242, 242, 1);
  color: rgba(0, 0, 0, 1);
}

.pagination-current,
.pagination-ellepsis:hover {
  background: rgba(242, 242, 242, 1);
  color: rgba(0, 0, 0, 1);
}

.pagination-current,
.pagination-ellepsis:focus {
  background: rgba(242, 242, 242, 1);
  color: rgba(0, 0, 0, 1);
}

.subscription-title-catalog {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscription-text-catalog {
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;

}
