@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-weight: 400;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #333333;
  background: #f2f2f2;
  min-width: 1280px;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 #00000033;
}
.main-header {
  display: flex;
  width: 1060px;
  margin: 0 70px;


}
.navigation-logo {
  /* margin-right: 28px; */
  display: block;
  width: 140px;
}
.page-header-logo {
  display: block;
  margin-bottom: -6px;
  position: relative;

}
.navigation {
  display: flex;
  margin: 0 auto;
  width: 962px;
}
.navigation-link {
  display: block;
  /* margin: 20px 16px; */
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 30px;
  list-style-type: none;
  min-height: 64px;
  width: 339px;
}

.navigation-user {
  max-width: 132px;
  margin-left: auto;
}
.navigation-user-link {
  display: block;
  /* margin: 22px 12px; */
  min-height: 20px;
  min-width: 20px;
}

.navigation-link,
.navigation-user-link {
  color: #000000;
  background-color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 20px 16px;

}

.likes-count {
  color: #FFFFFF;
  background-color: #7DB54F;
  font-size: 10px;
   line-height: 10px;
  text-align: center;

}

.header-button {
  color: #FFFFFF;
  background: rgba(117, 97, 87, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  margin: 14px 0 14px 20px;
  max-height: 36px;
  /* width: 160px; */
  border-radius: 4px;
  padding: 8px 34px;
  text-wrap: nowrap;
}

.main-container {
  flex-grow: 1;
  width: 1200px;
}



.hero-text {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.hero {
  min-height: 485px;
  background-color: #82b3d3;
  background-image: url(../images/welcome-2.svg), url(../images/main-background.jpg);
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;


}
.main-advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 69px auto;
  align-items: center;
  margin-bottom: 91px;
}
/*
.advantages {
  margin: 0;
  padding: 0;

} */
.advantages-list {
display: flex;
flex-wrap: wrap;
padding: 0;
margin: 0;
 /* margin-top: 21px; */
}

.advantages-title {
  width: 620px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0;
}
.advantages-item-desc {
  padding: 0;
  margin: 0;
}

.advantages-item-photo {
  width: 800px;
  min-height: 385px;

}
.advantages-desc-about {
  margin: 0;
  margin-top: 25px;
  font-size: 22px;
  line-height: 26px;
}

.advantages-item-text {
padding: 112px 85px;
text-align: center;

}


.advantages-item-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 62px;
  width: 175px;

}
.advantages-item-text-light {
    background-color: #82B3D3;
    color: #FFFFFF;
    margin: 0;
    padding: 102px 85px;
}

.advantages-item-title-light {
  color: #FFFFFF;

}

.advantages-item:nth-child(3) {
  background: rgba(131, 179, 211, 0.2);

}

.advantages-item {
  display: flex;
  background-color: rgba(131, 179, 211, 0.12);
  list-style-type: none;
  width: 400px;
  margin: 0;
  min-height: 385px;
}
.advantages-item-baner {
  width: 100%;
}

.main-infrastructure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 64px auto;
  align-items: center;
}
.infrastructure-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  width: 505px;
  margin:0 auto ;
}

.infrastructure-desc {
   font-size: 22px;
  line-height: 26px;
  text-align: center;
  /* width: 490px; */
  margin:0 auto ;
  margin-top: 20px;
}

.infrastructure-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;

}


.infrastructure-item:nth-child(odd) {
  background-color: #83B3D31F;

}

.infrastructure-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  margin: 0;
  margin-top: 120px;
}

.infrastructure-item-desc {
  text-align: center;
  margin-top: 30px;
}
.infrastructure-item-text {
  text-align: center;
  width: 230px;
}

.infrastructure-item {
  display: flex;
  list-style-type: none;
  width: 400px;
  margin: 0;
  min-height: 385px;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 96px auto;
  align-items: center;
}
.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  color: #000;
  width: 297px;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 592px;
  margin: 0;
  margin-top: 20px;

}

.search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756157;
  text-decoration: none;
  margin: 0 auto;
  display: block;
  font-family: inherit;
  margin-top: 54px;
  border-radius: 4px;
  padding: 8px 50px;
}

.subscription {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 0 ;
  width: 1200px;
  background-color: #82b3d3;
  color: #FFFFFF;
  background-image: url(../images/background-2.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  max-height: 415px;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscription-title {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  /* margin-top: 96px; */
  width: 404px;
}


.subscription-text {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  width: 475px;
  margin-top: 20px;
}

.button-subscription {
  /* width: 232px; */
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  border: none;
  font-family: inherit;
  border: none;
  /* margin-top: 54px ;
  margin-bottom: 104px; */
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

.e-mail {
  width: 452px;
  /* margin-top: 54px; */
  line-height: 24px;
  text-align: left;
  color: #000000;
  /* margin-bottom: 104px; */
border: none;
padding: 14px 0 14px 20px;
border-radius: 4px 0 0 4px;
}
.subscription-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
  align-items: center;
  margin-top: 32px;
}

.page-footer-container {
  display: flex;
  width: 1060px;
  margin: 0 70px;
  margin-top: 40px;
}

.social-footer-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  /* width: 142px; */
  list-style-type: none;
}
.social-footer-item {
width: 48px;
height: 40px;
}

.footer-contact-phone {
  width: 331px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  margin-left: 195px ;
}


.copyright-logo {
  max-width: 115px;
  margin-left: auto;
}

.filter {
  padding: 35px 70px 102px;
  color: #FFFFFF;
  background-color: #82b3d3;
  background-image: url(../images/background-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
 }

.filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
  /* margin: 0 70px; */

}
.bread-crumbs-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-bottom: 40px;
}

.bread-crumbs-item {
  width: 13px;
  margin-right: 28px;
}
.bread-crumbs-link {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  /* margin-left: 70px; */
 }

 .filter-form {
  display: flex;
  /* margin: 0 70px; */
}
.filter-list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.filter-form-fielsed {
  margin: 0;
  padding: 0;
  border: none;
  /* margin-right: 70px; */
}

.catalog-filter-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* width: 150px; */
  /* margin-left: 70px; */
  margin-bottom: 32px;


}
.catalog-wrapper {
  width: 1060px;
  margin: 0 auto;
}
.catalog-filter-list-house {
  margin-left: 70px;
  margin-right: 140px;

}

.filter-label,
.filter-radio {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.filter-form-controle {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  width: 143px;
  display: block;
  position: relative;
  margin-right: 2px;
}
.price-text {
  position: absolute;
  color: rgba(0, 0, 0, .1);
  right: 0;
}
.filter-form-fielsed-list-price {
  display: flex;
}
.catalog-filter-list-price {
/* width: 288px;
margin-right: 70px; */
}


.price {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  width: 100%;
  border: none;
  padding: 0;
}

.bloc-button {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: 70px;
}

.select-button-type {
  color: #FFFFFF;
  background-color: rgba(130, 179, 211, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-family: inherit;
  /* width: 191px; */
  padding: 8px 50px;
  border-radius: 4px;
}

.remove-button-type {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
  background-color: transparent;
  border: none;
  /* width: 191px; */
  padding: 8px 50px;
  margin-top: 32px;
}

.catalog {
  display: flex;
  /* margin: 50px 70px; */
  justify-content: space-between;
  margin-bottom: 50px;
  /* width: 830px; */
  /* min-height: 49px; */
}
.catalog-left-block {
  display: flex;
  align-items: center;
}

.find-hotel {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  margin: 0;
  /* margin-top: 6px; */
  color: #000;
  margin-right: 200px;
}

.select-control {
  color: #333333;
  font-weight: 400;
  font-family: inherit;
  width: 292px;
  padding: 14px 20px;
}
.catalog-view-list {
  display: flex;
  padding: 0;
  min-width: 160px;
  justify-content: space-between;
  list-style: none;

}
.catalog-view-item {
  width: 48px;

}

.catalog-list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.catalog-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #000000;
  text-decoration: none;
  margin: 0;
  margin-top: 6px;
}

.catalog-item-card {

  text-align: left;
  margin: 0;
  margin-top: 16px;
}

.catalog-item-price {

  text-align: right;
  margin: 0;
  margin-top: 16px;
}

.catalog-item-link-button {
  color: #FFFFFF;
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  margin-top: 16px;
  font-family: inherit;
}

.button-like {
  color: #FFFFFF;
  background-color: #82B3D3;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  margin: 0;
  margin-top: 16px;
  font-family: inherit;
}

.button-like-active {
  background-color: #7DB54F;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  margin: 0;
  margin-top: 16px;
  font-family: inherit;
}

.catalog-item-rating {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 16px;

}

.pagination {
  display: flex;
  margin: 0;
  padding: 40px 0;
  list-style: none;

}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background: rgba(130, 179, 211, 1);
  text-decoration: none;
  font-weight: 700;
  display: block;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  padding: 12px 12px;
  border-radius: 4px;
}
.pagination-ellepsis {
  margin-right: 8px;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current,
.pagination-ellepsis {
  color: #000;
  background-color: #F2F2F2;

}

.subscription-title-catalog {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscription-text-catalog {
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;

}
